<!DOCTYPE html>
<html>
  <head>
    <title>DigitalJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if user_signed_in? %>
              <li role="presentation" class="active"><%= link_to 'Posts', posts_path %></li>
              <li role="presentation"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li role="presentation"><%= link_to 'Log in', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>

	  <%= yield %>

      <footer class="footer">
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div>
  </body>
</html>
